<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140975787490-gfda7ui8buqjujvmn0guhodn0cmte6lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140975787490-gfda7ui8buqjujvmn0guhodn0cmte6lg</string>
	<key>API_KEY</key>
	<string>AIzaSyBy_q_jBPYzrradGeEC4cgxe2Dx2m3pc5U</string>
	<key>GCM_SENDER_ID</key>
	<string>140975787490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wselha</string>
	<key>PROJECT_ID</key>
	<string>wselha-58f90</string>
	<key>STORAGE_BUCKET</key>
	<string>wselha-58f90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140975787490:ios:d4010d6d5f4e869e947dbb</string>
</dict>
</plist>